<nav
    class="navbar navbar-expand navbar-light bg-gradient-info topbar mb-4 static-top shadow"
    th:fragment="header"
>
  <button
      id="sidebarToggleTop"
      class="btn btn-link d-md-none rounded-circle mr-3"
  >
    <i class="fa fa-bars"></i>
  </button>
  <form
      class="d-none d-sm-inline-block form-inline ml-auto navbar-search"
  >
    <div class="input-group">
      <input
          type="text"
          class="form-control bg-light border-0 small"
          placeholder="Search for..."
          aria-label="Search"
          aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-info" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>
</nav>