<ul
    class="navbar-nav bg-dark sidebar sidebar-dark accordion"
    id="accordionSidebar" th:fragment="sidebar"
>
  <a
      class="sidebar-brand d-flex align-items-center justify-content-center bg-gradient-info"
      href="#"
  >
    <div class="sidebar-brand-icon">
      <img
          src="/images/FPT_logo_2010.svg.png"
          alt=""
          height="30"
          width="60"
      />
    </div>
    <div class="sidebar-brand-text mx-3">Vaccine Management</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0"/>
  <!-- Nav Item - Dashboard -->

  <li class="nav-item active">
    <a class="nav-link" th:href="@{/home}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a
    >
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
    >
      <i class="fa-solid fa-users"></i>
      <span>Employee Management</span>
    </a>
    <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" href="#">Employee List</a>
        <a class="collapse-item h6" href="#">Create Employee</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseCustomer"
        aria-expanded="true"
        aria-controls="collapseCustomer"
    >
      <i class="fa-solid fa-user"></i>
      <span>Customer Management</span>
    </a>
    <div
        id="collapseCustomer"
        class="collapse"
        aria-labelledby="headingCustomer"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" th:href="@{/list/customer}">Customer List</a>
        <a class="collapse-item h6" th:href="@{/create/customer}">Create Customer</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseVaccineType"
        aria-expanded="true"
        aria-controls="collapseVaccineType"
    >
      <i class="fa-solid fa-circle-info"></i>
      <span>Vaccine Type Management</span>
    </a>
    <div
        id="collapseVaccineType"
        class="collapse"
        aria-labelledby="headingVaccineType"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" th:href="@{/list/vaccineType}">Vaccine Type List</a>
        <a class="collapse-item h6" th:href="@{/create/vaccineType}">Create Vaccine Type</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseVaccine"
        aria-expanded="true"
        aria-controls="collapseVaccine"
    >
      <i class="fa-solid fa-virus"></i>
      <span>Vaccine Management</span>
    </a>
    <div
        id="collapseVaccine"
        class="collapse"
        aria-labelledby="headingVaccine"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" th:href="@{/list/vaccine}">Vaccine List</a>
        <a class="collapse-item h6" th:href="@{/create/vaccine}">Create Vaccine</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseInjectionSchedule"
        aria-expanded="true"
        aria-controls="collapseInjectionSchedule"
    >
      <i class="fa-solid fa-calendar-days"></i>
      <span>Injection Schedule</span>
    </a>
    <div
        id="collapseInjectionSchedule"
        class="collapse"
        aria-labelledby="headingVaccineType"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" th:href="@{/list/injection/schedule}">Injection Schedule List</a>
        <a class="collapse-item h6" th:href="@{/create/injection/schedule}">Create Injection
          Schedule</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseInjectionResult"
        aria-expanded="true"
        aria-controls="collapseInjectionResult"
    >
      <i class="fa-solid fa-stethoscope"></i>
      <span>Injection Result</span>
    </a>
    <div
        id="collapseInjectionResult"
        class="collapse"
        aria-labelledby="headingVaccineType"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" href="#">Injection Result List</a>
        <a class="collapse-item h6" href="#">Create Injection Result</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseNews"
        aria-expanded="true"
        aria-controls="collapseNews"
    >
      <i class="fa-solid fa-radio"></i>
      <span>News</span>
    </a>
    <div
        id="collapseNews"
        class="collapse"
        aria-labelledby="headingVaccineType"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" th:href="@{/list/news}">News List</a>
        <a class="collapse-item h6" th:href="@{/create/news}">Create News</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider"/>

  <li class="nav-item">
    <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseReport"
        aria-expanded="true"
        aria-controls="collapseReport"
    >
      <i class="fa-solid fa-flag"></i>
      <span>Report</span>
    </a>
    <div
        id="collapseReport"
        class="collapse"
        aria-labelledby="headingVaccineType"
        data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item h6" th:href="@{/report/injectionResult}">Report Injection Result</a>
        <a class="collapse-item h6" th:href="@{/report/customerReport}">Report Customer</a>
        <a class="collapse-item h6" th:href="@{/report/vaccine}">Report Vaccine</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>