<!-- Modal -->
<div class="modal fade" id="confirmSaveNewsModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmSaveNewsModalLabel" aria-hidden="true"
     th:fragment="confirmSaveNewsModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm</h5>
      </div>
      <div class="modal-body">
        Are you sure to create News?
      </div>
      <div class="modal-footer">
        <a id="btn-save-news" class="btn btn-success">Save</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>