<!-- Modal -->
<div class="modal fade" id="confirmDeleteNewsModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteNewsModalLabel" aria-hidden="true"
     th:fragment="confirmDeleteNewsModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm</h5>
      </div>
      <div class="modal-body">
        Are you sure to delete News?
      </div>
      <div class="modal-footer">
        <a id="btn-delete-news" class="btn btn-danger">Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>