<!-- Modal -->
<div class="modal fade" id="confirmUpdateNewsModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmUpdateNewsModalLabel" aria-hidden="true"
     th:fragment="confirmUpdateNewsModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm</h5>
      </div>
      <div class="modal-body">
        Are you sure to update News?
      </div>
      <div class="modal-footer">
        <a id="btn-update-news" class="btn btn-warning">Update</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>