<!-- Modal -->
<div class="modal fade" id="confirmDeleteCustomerModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteCustomerModalLabel" aria-hidden="true"
     th:fragment="confirmDeleteCustomerModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm</h5>
            </div>
            <div class="modal-body">
                Are you sure to delete Customer?
            </div>
            <div class="modal-footer">
                <a id="btn-delete-customer" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>