<!-- Modal -->
<div class="modal fade" id="confirmInActiveModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmInActiveModalLabel" aria-hidden="true"
     th:fragment="confirmInActiveModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmInActiveModalLabel">Confirm</h5>
      </div>
      <div class="modal-body">
        Are you sure to make In-Active?
      </div>
      <div class="modal-footer">
        <a id="btn-make-inactive" class="btn btn-facebook">Yes</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>