<div class="modal fade" id="confirmSaveNewsModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmSaveNewsModalLabel" aria-hidden="true"
     th:fragment="confirmUpdateISModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm</h5>
            </div>
            <div class="modal-body">
                Are you sure to update Injection Schedule?
            </div>
            <div class="modal-footer">
                <a id="btn-save-news" class="btn btn-success">Update</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>