<!-- Modal -->
<div class="modal fade" id="confirmSaveVaccineTypeModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmSaveVaccineTypeModalLabel" aria-hidden="true"
     th:fragment="confirmSaveVaccineTypeModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSaveModalLabel">Confirm</h5>
      </div>
      <div class="modal-body">
        Are you sure to create Vaccine Type?
      </div>
      <div class="modal-footer">
        <a id="btn-save-vaccineType" class="btn btn-success">Save</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>