<!-- Toast -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;"
     th:fragment="toastCreateVaccineSuccess">
    <div id="toastCreateNewsSuccess" class="toast hide" role="alert" aria-live="assertive"
         aria-atomic="true"
         data-delay="3000">
        <div class="toast-header bg-success">
            <strong class="mr-auto text-dark">Notification</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <h6 class="text-success">Create Vaccine Successfully!</h6>
        </div>
    </div>
</div>