<!-- Toast -->
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;"
     th:fragment="toastDeleteNewsSuccess">
  <div id="toastDeleteNewsSuccess" class="toast hide" role="alert" aria-live="assertive"
       aria-atomic="true"
       data-delay="3000">
    <div class="toast-header bg-danger">
      <strong class="mr-auto text-dark">Notification</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <h6 class="text-danger">Delete News Successfully!</h6>
    </div>
  </div>
</div>