.login-form {
  width: 350px;
  margin: 50px auto;
  font-size: 15px;
  text-align: center;
}

.login-form form {
  margin-bottom: 15px;
  padding: 30px;
  position: relative;
  border-radius: 0.5rem;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  background: #60c7c1;
  border: none;
}

.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #60c7c1;
  color: white;
  text-align: center;
}

.avatar i {
  font-size: 50px;
  padding-top: 12px;
}