<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>Create injection schedule</title>
</head>
<body>
<main>
  <div
      class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom font-weight-bold">
    <h2>CREATE INJECTION SCHEDULE</h2>
  </div>

  <div
      class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
    <div class="mt-4 mb-5">
      <form action="" th:action="@{/create/injection/schedule}" th:object="${withStatusDTO}"
            th:method="post">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column col-lg-4">
            <label for="vaccine">Vaccine<span style="color: red;">(*)</span></label>
            <select name="" id="vaccine" class="form-control" th:field="*{vaccine}">
              <option th:each="v : ${vaccines}" th:value="${v.getVaccineName()}"
                      th:text="${v.getVaccineName()}"></option>
            </select>
            <p th:if="${#fields.hasErrors('vaccine')}" th:style="${'color:red'}"
               th:errors="*{vaccine}"></p>
          </div>
          <div class="d-flex flex-column col-lg-4">
            <label for="startDate">From<span style="color: red;">(*)</span></label>
            <input id="startDate" th:field="*{startDate}" type="date" class="form-control">
            <p th:if="${#fields.hasErrors('startDate')}" th:style="${'color:red'}"
               th:errors="*{startDate}"></p>
          </div>
          <div class="d-flex flex-column col-lg-4">
            <label for="endDate">To<span style="color: red;">(*)</span></label>
            <input id="endDate" th:field="*{endDate}" type="date" class="form-control">
            <p th:if="${#fields.hasErrors('endDate')}" th:style="${'color:red'}"
               th:errors="*{endDate}"></p>
          </div>
        </div>
        <div class="d-flex justify-content-evenly mt-5">
          <div class="d-flex flex-column col-lg-4">
            <label for="place">Place<span style="color: red;">(*)</span></label>
            <textarea name="" id="place" th:field="*{place}" cols="30" rows="5"
                      style="resize: none;"
                      class="border border-secondary-subtle rounded"></textarea>
            <p th:if="${#fields.hasErrors('place')}" th:style="${'color:red'}"
               th:errors="*{place}"></p>
          </div>
          <div class="d-flex flex-column col-lg-8">
            <label for="note">Note:</label>
            <textarea name="" style="resize: none;" id="note" th:field="*{note}" cols="100" rows="5"
                      class="border border-secondary-subtle rounded"></textarea>
          </div>
        </div>
        <div class="mt-4 pl-3 mb-4">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="submit" class="btn btn-primary">Reset</button>
          <button type="submit" class="btn btn-warning text-light">Cancel</button>
        </div>

        <div th:if="${not #strings.isEmpty(message)}" th:text="${message}" class="text-danger text-center"></div>

      </form>
    </div>

  </div>
  <div th:replace="~{modal/modal-create-injection_schedule :: confirmSaveISModal}"></div>
</main>
<script></script>
</body>
</html>