<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>
        <div
                class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom fs-3 fw-bold">
            <h3>CREATE NEW VACCINE</h3>
        </div>

        <div class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
            <div class="mt-4 mb-5">
                <form th:action="@{/create/vaccine}" th:object="${vaccineDTO}" th:method="post" onsubmit="return validateTimeInput()">
                    <div class="d-flex justify-content-between">
                        <div class="flex-column col-lg-8">
                            <label for="" class="font-weight-bold">Vaccine Id<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="vaccineId" th:field="*{vaccineId}">
                        </div>
                        <div class="flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Active<span class="text-danger">(*)</span></label>
                            <div class="d-flex align-items-baseline">
                                <p><i class="fas fa-fill-drip"></i></p>
                                <input type="checkbox" th:value="In-Active" class="ml-3" id="status" th:field="*{status}" onclick="getCheckbox()">
                            </div>
                            <div id="error-message" style="color: red"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-5">
                        <div class="flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Vaccine Name<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="vaccineName" th:field="*{vaccineName}">
                        </div>
                        <div class="flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Vaccine Type<span class="text-danger">(*)</span></label>
                            <select name="" id="vaccineType" class="form-control" th:field="*{vaccineType}">
                                <option th:each="v : ${vaccineTypeNames}" th:value="${v}" th:text="${v}" th:field="*{vaccineType}"></option>
                            </select>
                        </div>
                        <div class="flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Number of inject<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="numberOfInject" th:field="*{numberOfInjection}">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-5">
                        <div class="d-flex flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Usage<span style="color: red;">(*)</span></label>
                            <textarea name="" id="usage" cols="30" rows="5" style="resize: none;" th:field="*{usage}"
                                      class="border border-secondary-subtle rounded"></textarea>
                        </div>
                        <div class="d-flex flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Indication<span class="text-danger">(*)</span></label>
                            <textarea name="" style="resize: none;" id="indication" cols="100" rows="5" th:field="*{indication}"
                                      class="border border-secondary-subtle rounded"></textarea>
                        </div>
                        <div class="d-flex flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Contraindication<span class="text-danger">(*)</span></label>
                            <textarea name="" style="resize: none;" id="contraindication" cols="100" rows="5" th:field="*{contraindication}"
                                      class="border border-secondary-subtle rounded"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-5">
                        <div class="d-flex flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Time of beginning next injection<span class="text-danger">(*)</span></label>
                            <input type="date" class="form-control" id="timeOfBeginningNextInjection" th:field="*{timeOfBeginningNextInjection}">
                            <div id="beginningTimeError" style="color: red"></div>
                        </div>
                        <div class="d-flex flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Time of ending next injection<span class="text-danger">(*)</span></label>
                            <input type="date" class="form-control" id="timeOfEndingNextInjection" th:field="*{timeOfEndingNextInjection}">
                            <div id="endingTimeError" style="color: red"></div>
                        </div>
                        <div class="d-flex flex-column col-lg-4">
                            <label for="" class="font-weight-bold">Origin<span class="text-danger">(*)</span></label>
                            <input type="text" class="form-control" id="origin" th:field="*{origin}">
                        </div>
                    </div>
                    <div class="mt-5 pl-3">
                        <button type="submit" class="btn btn-success" id="addNewVaccine">Save</button>
                        <button type="reset" class="btn btn-info">Reset</button>
                        <button type="submit" class="btn btn-warning">Cancel</button>
                    </div>
                    <div th:if="${not #strings.isEmpty(message)}" th:text="${message}" class="text-center text-danger"></div>
                </form>
            </div>

        </div>
        <div th:replace="~{modal/modal-create-vaccine :: confirmSaveVaccineModal}"></div>
    </main>
<script src="/js/vaccine.js"></script>
</body>
</html>