<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>Create News</title>
</head>
<body>
<main>
  <div class="row">
    <div class="col-12">
      <h1 class="title text-center text-dark">
        CREATE NEWS
      </h1>
    </div>
    <div
        class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-white shadow">
      <div class="mt-4 mb-5">
        <div class="row">
          <div class="form-group col-md-4">
            <label class="font-weight-bold" for="title">Title<span
                style="color: red;">(*)</span></label>
            <input id="title" type="text" class="form-control">
          </div>
          <div class="form-group col-md-12">
            <label class="font-weight-bold" for="preview">Preview<span
                style="color: red;">(*)</span></label>
            <textarea class="form-control" id="preview" rows="3">
            </textarea>
          </div>
          <div class="form-group col-md-12">
            <label class="font-weight-bold" for="content1">Content<span
                style="color: red;">(*)</span></label>
            <textarea class="form-control" id="content1" rows="3">
            </textarea>
          </div>
          <div class="form-group col-md-12">

            <input type="button" onclick="saveNews()" value="Save"
                   class="btn btn-success text-light font-weight-bold">
            <input type="reset" value="Reset" class="btn btn-primary text-light font-weight-bold">
            <a class="btn btn-warning text-light font-weight-bold"
               th:href="@{/list/news}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{modal/modal-create-news :: confirmSaveNewsModal}"></div>
</main>
<script src="/js/news.js"></script>
</body>
</html>