<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>Create Injection Result</title>
</head>
<body>
<main>
    <div
            class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom font-weight-bold">
        <h2>CREATE INJECTION RESULT</h2>
    </div>

    <div
            class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
        <div class="mt-4 mb-5">
            <form action="" th:action="@{/create/injection-result}" th:object="${injectionResultDTO}"
                  th:method="post">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-lg-4">
                        <label for="customer">Customer<span style="color: red;">(*)</span></label>
                        <select name="" id="customer" class="form-control" th:field="*{customer}">
                            <option th:each="v : ${customer}" th:value="${v.getCustomer()}"
                                    th:text="${v.getCustomer()}"></option>
                        </select>
                        <!--                        <p th:if="${#fields.hasErrors('vaccine')}" th:style="${'color:red'}"-->
                        <!--                           th:errors="*{vaccine}"></p>-->
                    </div>
                    <div class="d-flex flex-column col-lg-4">
                        <label for="prevention">Prevention<span style="color: red;">(*)</span></label>
                        <select name="" id="prevention" class="form-control" th:field="*{customer}">
                            <option th:each="v : ${prevention}" th:value="${v.getPrevention()}"
                                    th:text="${v.getPrevention()}"></option>
                        </select>
                    </div>
                    <div class="d-flex flex-column col-lg-4">
                        <label for="vaccineType">Vaccine Type<span style="color: red;">(*)</span></label>
                        <select name="" id="vaccineType" class="form-control" th:field="*{vaccinesTypes}">
                            <option th:each="v : ${vaccinesTypes}" th:value="${v.getvaccineTypes()}"
                                    th:text="${v.getvaccineTypes()}"></option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-5">
                    <div class="d-flex flex-column col-lg-4">
                        <label for="numberOfInject">Injection<span style="color: red;">(*)</span></label>
                        <input id="numberOfInject" th:field="*{numberOfInject}" type="text" class="form-control">
                    </div>
                    <div class="d-flex flex-column col-lg-4">
                        <label for="dateOfInject">Date of Inject<span style="color: red;">(*)</span></label>
                        <input id="dateOfInject" th:field="*{dateOfInject}" type="date" class="form-control">
                    </div>
                    <div class="d-flex flex-column col-lg-4">
                        <label for="nextInjectionAppointment">Next Injection Appointment<span style="color: red;"></span></label>
                        <input id="nextInjectionAppointment" th:field="*{nextInjectionAppointment}" type="date" class="form-control">
                    </div>
                </div>
        </div>
        <div class="flex-column justify-content-start col-lg-4">
            <label for="">Place of Injection</label>

            <select name="" id="injectionPlaces" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>


        <div class="mt-4 pl-3 mb-4">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-warning text-light">Cancel</button>
        </div>

        </form>
    </div>

    </div>
</main>
<script></script>
</body>
</html>