<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER LIST</title>
</head>
<body>
<main>
    <div
            class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom font-weight-bold text-dark">
        <h2>INJECTION CUSTOMER LIST</h2>
    </div>

    <div
            class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
        <div class="px-4 mt-4 mb-1">
            <table id="tableCustomer" class="display mb-5 table table-striped table-bordered" style="width:100%">
                <thead class="bg-info text-light">
                <tr>
                    <th><input type="checkbox" id="selectAllVaccine"></th>
                    <th>Full name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Identity Card</th>
                    <th>Phone</th>
                </tr>
                </thead>

                <tbody class="text-dark">

                </tbody>
            </table>
        </div>
        <div class="pl-4 mb-5">
            <a th:href="@{/create/customer}" class="btn btn-success text-decoration-none">Register</a>
            <a href="#" class="btn btn-warning text-light" onclick="getDetail()">Update Customer</a>
            <a href="#" class="btn btn-danger text-light" data-bs-toggle="modal"
               data-bs-target="#confirmDeleteCútomerModal" onclick="confirmDeleteCustomer()">Delete Customer</a>
        </div>
    </div>
    <div th:replace="~{modal/modal-delete-customer :: confirmDeleteCustomerModal}"></div>
    <div th:replace="~{toast/toast-delete-customer :: toastDeleteCustomerSuccess}"></div>
    <div th:replace="~{toast/toast-create-customer :: toastCreateCustomerSuccess}"></div>
    <div th:replace="~{toast/toast-update-customer :: toastUpdateCustomerSuccess}"></div>
</main>
<script src="/js/showCustomer.js"></script>
</body>
</html>