<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>Vaccination result list</title>
</head>
<body>
<main>
    <div class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom font-weight-bold">
        <h2>Vaccination Result List</h2>
    </div>
    <div
            class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
        <div class="px-4 mt-4 mb-1">
            <table id="table" class="display mb-5 table table-striped table-bordered" style="width:100%">
                <thead class="bg-info text-light">
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>Customer</th>
                    <th>Vaccine Name</th>
                    <th>Prevention</th>
                    <th>Injection</th>
                    <th>Date of Inject</th>
                    <th>Next Inject Date</th>
                </tr>
                </thead>
                <tbody class="text-dark">
                </tbody>
            </table>
        </div>
        <div class="pl-4 mb-5">
            <a th:href="@{/create/injection-result}" class="btn btn-success text-decoration-none">New
                Injection Result</a>
            <a href="#" class="btn btn-warning text-light" onclick="get_detail()">Update Injection
                Result</a>
            <a th:href="@{/delete/injection-result/}" class="btn btn-success text-decoration-none">Delete Injection Result</a>
        </div>
        <div>
            <button>Create Injection Result</button>
            <button>Update Injection Result</button>
            <button>Delete Injection Remi</button>
        </div>
</main>
<script src="/js/injectionResult.js"></script>

</body>
</html>