<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>Injection Schedule</title>
</head>
<body>
<main>
  <div
      class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom font-weight-bold text-dark">
    <h2>INJECTION SCHEDULE LIST</h2>
  </div>

  <div
      class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
    <div class="px-4 mt-4 mb-1">
      <table id="table" class="display mb-5 table table-striped table-bordered" style="width:100%">
        <thead class="bg-info text-light">
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>Vaccine</th>
          <th>Time</th>
          <th>Place</th>
          <th>Status</th>
          <th>Note</th>
        </tr>
        </thead>

        <tbody class="text-dark">

        </tbody>
      </table>
    </div>
    <div class="pl-4 mb-5">
      <a th:href="@{/create/injection/schedule}" class="btn btn-success text-decoration-none">New
        Injection Schedule</a>
      <a href="#" class="btn btn-warning text-light" onclick="get_detail()">Update Injection
        Schedule</a>
      <!--            <a href="#" class="btn btn-warning text-light" onclick="get_detail_schedule()">Update Injection Schedule</a>-->
    </div>

  </div>
  <div th:replace="~{modal/modal-make-inactive :: confirmInActiveModal}"></div>
  <div th:replace="~{toast/toast-inactive-success :: toastInactiveSuccess}"></div>
</main>
<script src="/js/injectionSchedule.js"></script>
</body>
</html>