<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>List view</title>
</head>
<body>
<main>
  <div class="row">
    <div class="col-12">
      <h1 class="title text-center text-dark">
        NEWS LIST
      </h1>
    </div>
  </div>
  <div
      class="tab-content col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow"
  >
    <div id="reportContent" class="px-4 mt-4 mb-5 tab-pane active">
      <table
          id="listNews"
          class="table table-striped table-bordered"
          style="width: 100%"
      >
        <thead class="bg-info text-light">
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>Title</th>
          <th>Content</th>
          <th>Post date</th>
        </tr>
        </thead>
        <tbody class="text-dark">

        </tbody>
      </table>
    </div>
    <div class="pl-4 mb-5">
      <a th:href="@{/create/news}" class="btn btn-success text-decoration-none">Create news</a>
      <a class="btn btn-warning text-light" onclick="getUpdateNewsUI()">Update news</a>
      <a class="btn btn-danger text-light" data-bs-toggle="modal"
         data-bs-target="#confirmDeleteNewsModal" onclick="confirmDeleteNews()">Delete news</a>
    </div>
  </div>
  <div th:replace="~{modal/modal-delete-news :: confirmDeleteNewsModal}"></div>
  <div th:replace="~{toast/toast-delete-news :: toastDeleteNewsSuccess}"></div>
  <div th:replace="~{toast/toast-create-news :: toastCreateNewsSuccess}"></div>
  <div th:replace="~{toast/toast-update-news :: toastUpdateNewsSuccess}"></div>
</main>

<script src="/js/news.js"></script>
</body>
</html>