<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>List vaccine type</title>
</head>
<body>
<main>
  <div class="row">
    <div class="col-12">
      <h1 class="title text-center text-dark">
        VACCINE TYPE LIST
      </h1>
    </div>
  </div>
  <div
      class="tab-content col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow"
  >
    <div id="reportContent" class="px-4 mt-4 mb-5 tab-pane active">
      <table
          id="listVaccineType"
          class="table table-striped table-bordered"
          style="width: 100%"
      >
        <thead class="bg-info text-light">
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>Code</th>
          <th>Vaccine Type Name</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody class="text-dark">

        </tbody>
      </table>
    </div>
    <div class="pl-4 mb-5">
      <a th:href="@{/create/vaccineType}" class="btn btn-success text-light">New Vaccine Type</a>
      <a class="btn btn-facebook text-light" onclick="makeInActiveVaccineType()">Make
        In-active</a>
    </div>
  </div>
  <div th:replace="~{modal/modal-make-inactive :: confirmInActiveModal}"></div>
  <div th:replace="~{toast/toast-inactive-success :: toastInactiveSuccess}"></div>
  <div th:replace="~{toast/toast-create-vaccineType :: toastCreateVaccineTypeSuccess}"></div>
</main>

<script src="/js/vaccineType.js"></script>
</body>
</html>