<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <th:block th:insert="~{common/library-fragment :: library}"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container-fluid vh-100 d-flex align-items-center">
  <div class="login-form card">
    <form action="#" th:action="@{/login}" th:object="${loginDTO}" method="post">
      <div class="avatar"><i class="fa-solid fa-user"></i></div>
      <h3 class="text-center pt-4">Member Login</h3>
      <div class="form-group">
        <input
            type="text"
            class="form-control"
            placeholder="Username"
            id="username"
            name="username"
            th:field="*{username}"
        >
        <p th:if="${#fields.hasErrors('username')}" th:style="${'color:red'}"
           th:errors="*{username}"></p>
      </div>
      <div class="form-group">
        <input
            type="password"
            class="form-control"
            placeholder="Password"
            id="password"
            name="password"
            th:field="*{password}"
        >
        <span th:if="${#fields.hasErrors('password')}" th:style="${'color:red'}"
              th:errors="*{password}"></span>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Sign in
        </button>
      </div>
    </form>
    <div class="card-header d-inline-block">
      <a href="">Forgot password?</a>
    </div>
  </div>
</div>
</body>
</html>