<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
  <meta charset="UTF-8">
  <title>Report Customer</title>
</head>
<body>
<main>
  <input type="hidden" value="customer" id="reportAll">
  <div class="row">
    <div class="col-12">
      <h1 class="title text-center text-dark">
        REPORT CUSTOMER
      </h1>
    </div>
  </div>
  <form
      id="form"
      action=""
      class="form-row mb-3 mx-0 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
    <div class="col-auto form-group pl-4" role="tablist">
      <label class="font-weight-bold pt-3">Display Type:</label>
      <div class="">
        <div class="custom-control custom-radio custom-control-inline">
          <input
              type="radio"
              class="custom-control-input"
              id="report1"
              name="type"
              value="report"
              data-target="#reportContent"
              checked
          />
          <label class="custom-control-label" for="report1">Report</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
              type="radio"
              class="custom-control-input"
              id="chart1"
              name="type"
              value="chart"
              data-target="#chartContent"
          />
          <label class="custom-control-label" for="chart1">Chart</label>
        </div>
      </div>
    </div>
    <div class="col-auto form-group pl-4" id="dob">
      <label class="font-weight-bold pt-3">Date of birth:</label>
      <div class="form-inline">
        <div class="form-inline pr-3">
          <label for="from" class="font-weight-bold pr-1">From:</label>
          <input id="from" class="form-control" type="date"/>
        </div>
        <div class="form-inline pr-3">
          <label for="to" class="font-weight-bold pr-1">To:</label>
          <input id="to" class="form-control" type="date"/>
        </div>
      </div>
    </div>
    <div class="col-auto form-group pl-4" id="fullName">
      <label class="font-weight-bold pt-3" for="name">Full name:</label>
      <input type="text" class="form-control" id="name"/>
    </div>
    <div class="col-auto form-group pl-4" id="address">
      <label class="font-weight-bold pt-3" for="adr">Address:</label>
      <input type="text" class="form-control" id="adr"/>
    </div>
    <div class="col-auto form-group pl-4" id="action">
      <label class="font-weight-bold pt-3">Action:</label>
      <div class="form-inline">
        <button class="btn btn-info font-weight-bold mr-2" type="reset">
          Reset
        </button>
        <button class="btn btn-info font-weight-bold" type="button" onclick="submitForm()">
          Filter
        </button>
      </div>
    </div>
    <div class="col-auto form-group pl-4 d-none" id="yearSelect">
      <label for="year" class="font-weight-bold pt-3">Select year</label>
      <select class="form-control" id="year" onchange="createChart()">
        <option
            th:each="year : ${years}"
            th:value="${year}"
            th:text="${year}"
            th:selected="${year == yearSelected}"
        >
        </option>
      </select>
    </div>
    <div class="col-auto form-group pl-4 d-none" id="typeStatistic">
      <label for="mySelect" class="font-weight-bold pt-3">Select type</label>
      <select class="form-control" id="mySelect" name=""
              onchange="createChart()">
        <option value="1" selected="selected">Bar Statistic</option>
        <option value="2">Line Statistic</option>
      </select>
    </div>
  </form>

  <div
      class="tab-content col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow"
  >
    <div id="reportContent" class="px-4 mt-4 mb-5 tab-pane active">
      <table
          id="reportCustomer"
          class="table table-striped table-bordered"
          style="width: 100%"
      >
        <thead class="bg-info text-light">
        <tr>
          <th>No.</th>
          <th>Full Name</th>
          <th>Date Of Birth</th>
          <th>Address</th>
          <th>Identity Card</th>
          <th>Number Of Inject</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div id="chartContent" class="px-4 mt-4 mb-5 tab-pane">
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</main>
<script src="/js/customerReport.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/chart.js"></script>
</body>
</html>