<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template :: areas(~{::title},~{::main},~{::script})}">
<head>
    <meta charset="UTF-8">
    <title>VACCINE LIST</title>
</head>
<body>
<main>
    <div
            class="d-flex justify-content-center flex-md-nowrap flex-md-nowrap align-items-center pt-4 pb-3 mt-2 border-bottom font-weight-bold text-dark">
        <h2>VACCINE LIST</h2>
    </div>

    <div
            class="col-lg-12 border rounded-top-2 border border-secondary-subtle rounded-bottom-2 bg-light shadow">
        <div class="px-4 mt-4 mb-1">
            <table id="tableVaccine" class="display mb-5 table table-striped table-bordered" style="width:100%">
                <thead class="bg-info text-light">
                <tr>
                    <th><input type="checkbox" id="selectAllVaccine"></th>
                    <th>Vaccine id</th>
                    <th>Vaccine name</th>
                    <th>Vaccine type</th>
                    <th>Number of injection</th>
                    <th>Origin</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody class="text-dark">

                </tbody>
            </table>
        </div>
        <div class="pl-4 mb-5">
            <a th:href="@{/create/vaccine}" class="btn btn-success text-decoration-none">New
                Vaccine</a>
            <a href="#" class="btn btn-warning text-light" onclick="get_detail_vaccine()">Update Vaccine</a>
            <a href="#" class="btn btn-danger text-light" onclick="makeInActiveVaccine()" id="makeInactiveBtn">Make In-Active</a>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmInActiveModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmInActiveModalLabel" aria-hidden="true"
         th:fragment="confirmInActiveModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmInActiveModalLabel">Confirm</h5>
                </div>
                <div class="modal-body">
                    Are you sure to make In-Active?
                </div>
                <div class="modal-footer">
                    <a id="btn-make-inactive" class="btn btn-facebook">OK</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{modal/modal-make-inactive :: confirmInActiveModal}"></div>
    <div th:replace="~{toast/toast-inactive-success :: toastInactiveSuccess}"></div>
</main>
<script src="/js/vaccine.js"></script>
</body>
</html>